@use './../../sass/Variable.scss' as variable;

.home{
    position: relative;
    & h3{
        line-height: 80px;
    } 

    & .text-box{
        text-align: center;
    }

    & .test::after{
        content: '';
        top: 33%;
        left: 0;
        z-index: -1;
        position: absolute;
        width: 100vw;
        height: 80%;
        background-color: variable.$gray;
    }

    & .cardBox{
        &::after{
            content: '';
            position: absolute;
            width: 80%;
            height: 8px;
            background-color: variable.$primary-light;
            z-index: 0;
        }
    }
}

@media (max-width: 1023px) {
    .home{
        .cardBox{
            &::after{
    
                width: 8px;
                height: 30%;
    
            }
        }
    }
}
