// Color
$primary-light: hsl(180, 66%, 49%);
$primary-dark: hsl(257, 27%, 26%);
$danger: hsl(0, 87%, 67%);

$white: #fff;
$gray: hsl(0, 0%, 75%);
$Grayish-violet: hsl(257, 7%, 63%);
$Very-Dark-Blue: hsl(255, 11%, 22%);
$Very-Dark-Violet: hsl(260, 8%, 14%);

// Font-Size

$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 32px;
$font-size-xxl: 64px;

// Font-Weights

$font-wights-normal: 500;
$font-wights-bold: 700;

// border

$border-radius-circle: 50%;
$border-radius-pill: 18px;
$border-radius-normal: 6px;

// padding

$main-padding-x: 40px;
$main-padding-y: 20px;
