@use './../../sass/Variable.scss' as variable;

.MainFooter{
    & li:hover{
        color: variable.$primary-light;
    }
    & .icon-list li:hover{
        cursor: pointer;
        padding-bottom: 3px;
        border-bottom: 2px solid variable.$primary-light;
    }
}